---
import Layout from '../../layouts/Layout.astro';
import '@/styles/globals.css'
import { getRelativeLocaleUrl } from 'astro:i18n';

const currentLocale = Astro.currentLocale;
if (currentLocale == undefined) { 
	const locale = i18n.defaultLocale 
} else {
	const locale = currentLocale
}
---

<Layout title="404">
<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="text-base font-semibold text-indigo-600">404</p>
    <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Seite nicht gefunden</h1>
    <p class="mt-6 text-base leading-7 text-gray-600">Leider konnten wir diese Seite nicht finden</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href={getRelativeLocaleUrl({currentLocale}, "")} class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Zurück zur Startseite</a>
      <a href={getRelativeLocaleUrl({currentLocale}, 'kontakt')} class="text-sm font-semibold text-gray-900">Kontakt <span aria-hidden="true">&rarr;</span></a>
    </div>
  </div>
</main>
</Layout>
