---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'

const response = await fetch('https://dev-api.stamm-phoenix.de/is-alive');
const data = await response.json();
---

<Layout title="404">
	<main>
Page not found!
</main>
</Layout>
