---
import { getEventsPerYear } from "@/lib/api"
import type { Events } from "@/lib/api/types.ts"
import "@/styles/globals.css"

const _events: Events = await getEventsPerYear(2024).catch(
	(_error: unknown) => {
		return {} as Events
	},
)
---

<Layout title={t("index.title")}>
    <main>
        <p>{t("index.hello")}</p>
        <p>{JSON.stringify(events)}</p>
    </main>
</Layout>
