---
import { getPublicEvents } from '@/lib/api';
import type { PublicEventModel } from '@/lib/api/types';
import "@/styles/globals.css"
import Layout from '@/layouts/Layout.astro'
import { t } from 'astro-i18n'

const events: PublicEventModel = await getPublicEvents(2024).then()
---

<Layout title={t("index.title")}>
    <main>
        <p>{t("index.hello")}</p>
        <p>{JSON.stringify(events)}</p>
    </main>
</Layout>
