---
import Layout from '@/layouts/Layout.astro'
import '@/styles/globals.css'
import { isAlive } from '@/lib/api'
import { astroI18n, t } from 'astro-i18n'

console.log(isAlive())
---

<Layout title={t('index.title')}>
	<main>
		<p>{t('index.hello')}</p>
	</main>
</Layout>
