---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { isAlive } from "../lib/api";

changeLanguage("de");

console.log(isAlive());
---

<Layout title="Home">
	<main>
		<p>Hello World!</p>
	</main>
</Layout>
