---
import { changeLanguage } from 'i18next'
import Layout from '../layouts/Layout.astro'
import '@/styles/globals.css'

changeLanguage('de')

const response = await fetch('https://dev-api.stamm-phoenix.de/is-alive')
const data = await response.json()
---

<Layout title="Home">
	<main>
		<p>{JSON.stringify(data)}</p>
	</main>
</Layout>
