---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css'

import LoginForm from '../components/LoginForm';
---

<Layout title="Login">
	<main>
        <LoginForm client:only="solid-js" />
    </main>
</Layout>
