---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import LoginForm from "../components/LoginForm.astro";

changeLanguage("en");
---

<Layout title="Login">
	<main class="place-content-center w-full h-full">
        <LoginForm client:only />
    </main>
</Layout>
