# dev/build outputs
.output
.data
.cache
dist

# node and bun lock files
package-lock.json

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
