---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import "@/styles/globals.css";
import GlassMorphism from "@/components/GlassMorphism";

changeLanguage("en");

interface Contact {
    name: string;
    phoneNumber: string;
    addressStreet: string;
    addressCity: string;
}
const contacts: Contact[] = [
    {
        name: "Dominik Schmid",
        phoneNumber: "+49 177 6092939",
        addressStreet: "F\u00F6hrenstra\u00DFe 105",
        addressCity: "83052 Bruckm\u00FChl",
    },
    {
        name: "Simon Schmid",
        phoneNumber: "+49 1516 4331848",
        addressStreet: "Oberwertach 8",
        addressCity: "83620 Feldkirchen-Westerham",
    },
];
---

<Layout title="Impressum">
	<GlassMorphism class="items-center">
		<h5 class="text-lg font-semibold mb-2">Veröffentlicher</h5>
		<p class="text-sm">
			Deutsche Pfadfinderschaft Sankt Georg 13/19/12 Stamm Phoenix
			Feldkirchen-Westerham
		</p>
	</GlassMorphism>

	<GlassMorphism class="items-center">
		<h5 class="text-lg font-semibold mb-2">Vorstand</h5>
		<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
			{
				contacts.map((contact) => (
					<div>
						{contact.name}
						<br />
						{contact.phoneNumber}
						<br />
						{contact.addressStreet}
						<br />
						{contact.addressCity}
					</div>
				))
			}
		</div>
	</GlassMorphism>
	<GlassMorphism>
		<h5 class="text-lg font-semibold mb-2">Verfasser</h5>
		<p class="text-sm">
			Design und Layout: Hugo Berendi<br />Inhalte (soweit Autor nicht
			explizit angegeben): Andreas Schartner, Andreas Schlott, Nico
			Welles, Bernhard Jobst
		</p>
	</GlassMorphism>

	<GlassMorphism class="items-center">
		<h5 class="text-lg font-semibold mb-2">Icons</h5>
		<div class="flex items-center">
			<div class="mr-4">
				<img src="/favicon.ico" height="32" alt="Phoenix Icon" />
			</div>
			<div>
				<a
					href="https://www.flaticon.com/de/kostenloses-icon/phonix\_1400428"
					class="text-blue-500 hover:text-blue-700"
					>Phoenix Icon lizensiert von flaticon.com</a
				>
			</div>
		</div>
	</GlassMorphism>

	<GlassMorphism class="items-center">
		<div class="flex flex-col md:flex-row">
			<div class="md:w-3/4 md:mr-4 mb-4 md:mb-0">
				<p class="text-justify">
					Die Deutsche Pfadfinderschaft Sankt Georg (DPSG) ist als
					anerkannter Träger freier Jugendhilfe Mitglied im
					Bayerischen Jugendring (BJR) und als Verband katholischer
					Pfadfinderinnen und Pfadfinder Mitglied im Bund der
					Deutschen Katholischen Jugend (BDKJ) und der Internationalen
					Katholischen Konferenz des Pfadfindertums (IKKP). Die DPSG
					ist Mitglied im Ring deutscher Pfadfinderverbände (RdP) und
					von der World Organisation of the Scout Movement (WOSM) als
					Mitgliedsverband der Weltpfadfinderbewegung offiziell
					anerkannt.
				</p>
			</div>
			<div class="md:w-1/4 flex justify-center">
				<img src="/dpsg.png" height="100" alt="DPSG Logo" />
			</div>
		</div>
	</GlassMorphism>
</Layout>
