---
const { class: className = "" } = Astro.props
---

<footer class=`rounded-lg ${className}`>
	<GlassMorphism class="py-4">
		<div class="container mx-auto px-4 text-center">
			<p class="text-black">
				&copy; {new Date().getFullYear()} Deutsche Pfadfinderschaft Sankt
				Georg 13/19/12 Stamm Phoenix Feldkirchen-Westerham
			</p>
		</div>
	</GlassMorphism>
</footer>
