---
// src/components/GlassMorphism.astro
const { class: className = '' } = Astro.props;
---

<div class={`bg-gray-300 rounded-lg bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-30 border border-0 ${className}`}>
  <slot />
</div>
