---
import i18next, { t } from 'i18next'
import { localizePath } from 'node_modules/astro-i18next/src'
import { getRelativeLocaleUrl } from 'astro:i18n'
import GlassMorphism from './GlassMorphism'

let locale: string = i18next.language

const navLinks = [
	{
		href: getRelativeLocaleUrl(locale, localizePath('')),
		label: t('navbar.home'),
	},
	{
		href: getRelativeLocaleUrl(locale, localizePath('/datenschutz')),
		label: t('navbar.privacy'),
	},
	{
		href: getRelativeLocaleUrl(locale, localizePath('/impressum')),
		label: t('navbar.imprint'),
	},
	{
		href: getRelativeLocaleUrl(locale, localizePath('/anmeldung')),
		label: t('navbar.login'),
	},
]
---

<nav class="m-nav rounded-lg top-0 sticky z-10">
	<GlassMorphism class="py-4">
		<div class="container mx-auto px-4 flex justify-between items-center">
			<div class="navbar-brand float-left">
				<a
					href={getRelativeLocaleUrl(locale, '')}
					class="text-black font-bold"
				>
					<div class="">
						<img
							data-twe-animation-start="onLoad"
							class="animate-bounce w-[27px] z-1"
							src="/favicon.ico"
						/>
					</div></a
				>
			</div>
			<div class="float-right h-[30px] w-[30px]">
				<button class="absolute group" id="menu">
					<div
						class="relative flex overflow-hidden items-center justify-center rounded-full w-[30px] h-[30px] transform transition-all bg-none duration-200"
					>
						<div
							class="flex flex-col justify-between w-[20px] h-[20px] transform transition-all duration-300 origin-center overflow-hidden"
						>
							<div
								class="bg-dpsg-gray-dark h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:translate-x-10"
							>
							</div>
							<div
								class="bg-dpsg-gray-dark h-[2px] w-7 rounded transform transition-all duration-300 group-focus:translate-x-10 delay-75"
							>
							</div>
							<div
								class="bg-dpsg-gray-dark h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:translate-x-10 delay-150"
							>
							</div>

							<div
								class="absolute items-center justify-between transform transition-all duration-500 top-2.5 -translate-x-10 group-focus:translate-x-0 flex w-0 group-focus:w-12"
							>
								<div
									class="absolute bg-dpsg-gray-dark h-[2px] w-5 transform transition-all duration-500 rotate-0 delay-300 group-focus:rotate-45"
								>
								</div>
								<div
									class="absolute bg-dpsg-gray-dark h-[2px] w-5 transform transition-all duration-500 -rotate-0 delay-300 group-focus:-rotate-45"
								>
								</div>
							</div>
						</div>
					</div>
				</button>
			</div>
			<GlassMorphism
				id="navbar-nav"
				class="hidden z-50 fixed top-[1.5rem] left-[50%]"
			>
				<ul class="flex flex-col items-center space-y-2 w-full">
					{
						navLinks.map(({ href, label }, index) => (
							<>
								<li class="w-full border-b border-gray-300 last:border-none">
									<a
										href={href}
										class="block py-2 text-center text-black hover:text-gray-600 w-full"
									>
										{label}
									</a>
								</li>
							</>
						))
					}
				</ul>
			</GlassMorphism>
		</div>
	</GlassMorphism>
</nav>

<script>
	const menu = document.getElementById('menu')
	const navLinks = document.getElementById('navbar-nav')

	menu?.addEventListener('click', (e) => {
		navLinks?.classList.remove('hidden')
	})

	document.addEventListener('click', (e) => {
		const target = e.target as HTMLElement
		if (!navLinks?.contains(target) && !menu?.contains(target)) {
			navLinks?.classList.add('hidden')
		}
	})
</script>
