---
import i18next, { t } from 'i18next'
import { getRelativeLocaleUrl } from "astro:i18n";
import GlassMorphism from './GlassMorphism.astro'

const locale: string = i18next.language;

const navLinks = [
  { href: getRelativeLocaleUrl(locale, ''), label: t('navbar.home') },
  { href: getRelativeLocaleUrl(locale, '/privacy'), label: t('navbar.privacy') },
  { href: getRelativeLocaleUrl(locale, '/imprint'), label: t('navbar.imprint') },
  { href: getRelativeLocaleUrl(locale, '/login'), label: t('navbar.login') },
];
---

<nav class="rounded-lg">
    <GlassMorphism class="py-4">
        <div class="container mx-auto px-4 flex justify-between items-center">
            <div class="navbar-brand">
                <a href={getRelativeLocaleUrl(locale, '')} class="text-black font-bold">
         <div class="backdrop-blur-md bg-[url('/fav icon.ico')]">
									<img data-twe-animation-start="onLoad"  class="animate-bounce w-[27px] z-1" src="/favicon.ico"></img></div>
						    </a>
						</div>
            <ul class="navbar-nav flex space-x-4">
                {navLinks.map(({ href, label }) => (
                    <li class="nav-item">
                        <a class="nav-link text-black hover:text-gray-600" href={href}>{label}</a>
                    </li>
                ))}
            </ul>
        </div>
    </GlassMorphism>
</nav>
